.csv-chart {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
}

.csv_chart_container {
    width: 895px;
    margin-bottom: 40px;
}

.file-error {
    
}